/target/
!.mvn/wrapper/maven-wrapper.jar
*.log
*.mp4

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

src/ui/integrationTools
src/ui/cypress/videos
src/ui/cypress/screenshots

# Tilt
/tilt_modules/
DTCTiltfile
DTCTiltfile.tmp
DTCTiltfile.zip
