<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright ©  2020 - 2021 Dell Inc. or its subsidiaries. All Rights Reserved.
  -->

<Configuration packages="com.dell.dtc.log.core" status="WARN">
  <LoggerNameFilter/>	
  <Appenders>
    <DtcCustomAppender name="DtcCustomAppender"/>
  </Appenders>
  <Loggers>
    <Root level="INFO" additivity="false">
      <AppenderRef ref="DtcCustomAppender"/>
    </Root>
    <Logger name="com.dell.dtc" level="INFO" additivity="false">
      <AppenderRef ref="DtcCustomAppender"/>
    </Logger>
  </Loggers>
</Configuration>
