// tslint:disable
{{>licenseInfo}}

export const API_Operations = {
{{#operations}}
{{#operation}}
    /**
    {{#notes}}
        * {{&notes}}
    {{/notes}}
    {{#summary}}
        * {{&summary}}
    {{/summary}}
    */
    "{{nickname}}": {
    method: '{{httpMethod}}',
    url: `{{{path}}}`
    },
{{/operation}}
{{/operations}}
}

{{#hasEnums}}

    {{#operations}}
        {{#operation}}
            {{#allParams}}
                {{#isEnum}}
                        /**
                        * @export
                        * @enum {string}
                        */
                        export enum {{operationIdCamelCase}}{{enumName}} {
                    {{#allowableValues}}
                        {{#enumVars}}
                            {{{name}}} = {{{value}}}{{^-last}},{{/-last}}
                        {{/enumVars}}
                    {{/allowableValues}}
                        }
                {{/isEnum}}
            {{/allParams}}
        {{/operation}}
    {{/operations}}
{{/hasEnums}}
