{{#x-extensible-enum}}
    {{#-first}}
    export type {{nameInCamelCase}}Enum = {{#x-extensible-enum}}'{{.}}'{{^-last}} | {{/-last}}{{/x-extensible-enum}};
        export const {{nameInCamelCase}}Enum = {
        {{#x-extensible-enum}}
            {{.}}: '{{.}}' as {{nameInCamelCase}}Enum{{^-last}},{{/-last}}
        {{/x-extensible-enum}}
        };
    {{/-first}}
{{/x-extensible-enum}}
