{{#-first}}


  public class {{nameInCamelCase}}Enum {
  {{#vendorExtensions.x-extensible-enum}}
    public static final String {{.}} = "{{.}}";
  {{/vendorExtensions.x-extensible-enum}}
  }{{/-first}}
